{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% include 'basicStyles.html' %}
    <style>
	body{
      background: url({% static 'images/datas.jpeg' %}) 50% 0 no-repeat fixed;
	}
    </style>
</head>
{% include 'header.html' %}
<body class="main-content">
 <div class="loading-data">
    <h2> טעינת הקבצים </h2>
<div class="file-upload">

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>בחר קובץ</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">טעינה</button>

</div>


 </div>
    <div class="showing-data">
        <h2>
        אז.. מה זה אקסלי?
        </h2>
        <table class="informatio">
            <tr> hello </tr>
                <td> world</td>
                        <tr> hello </tr>
                <td> world</td>
        </table>
    </div>
</body>
{% include 'footer.html' %}
</html>